* {
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.principal {
  background-image: url(./images/Guild.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
/*tela de escolha de personagem, div padrão de 1 imagem*/
.oneImage {
  margin-top: 0.5%;
  width: 99%;
  height: auto;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.oneImage img {
  height: auto;
  width: 70%;
}
.oneImage h1 {
  margin: 1% 0 0 0;
  width: 70%;
  opacity: 0.4;
  background-color: white;
  color: black;
  text-align: center;
}
.choice1 {
  margin: 1% auto;
  width: 99%;
  height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.choice1 button {
  width: 20%;
  height: auto;
  font-size: 190%;
  overflow-wrap: break-word;
  padding: 0.5% 0px;
}
/*tela de confirmação de personagem, div padrão de 2 imagens, div de player*/
.twoImages {
  margin: 0.5%;
  width: 99%;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.twoImages div {
  align-items: center;
  justify-content: center;
}
.twoImages ul {
  text-align: center;
  list-style: none;
  font-size: 120%;
  color: white;
  margin-top: 2%;
}
.leftItem {
  flex-direction: column;
}
.leftItem img {
  width: 55%;
}
.leftItem ul {
  flex-direction: column;
  background-color: #0a1017;
  opacity: 0.7;
  font-size: 150%;
  height: auto;
  padding-right: 15%;
}
.rightItem {
  flex-direction: column;
}
.rightItem img{
  height: 400px;
  width: auto;
}
.rightItem ul {
  flex-direction: column;
  background-color: #0a1017;
  opacity: 0.7;
  color: white;
  height: auto;
  width: 90%;
  padding-right: 15%;
}
.beginBattle {
  margin: 1% auto;
  width: 99%;
  align-items: center;
  justify-content: space-evenly;
}
.beginBattle button {
  height: auto;
  font-size: 150%;
  overflow-wrap: break-word;
  padding: 1% 0px;
}
.beginBattle a{
  background-color: #0a1017;
  height: auto;  
  padding: 0.5% 0px;
  align-items: center;
  justify-content: center;
}
/*botões de ataque e defesa durante batalha*/
.enemy {
  flex-direction: column;
}
.enemy img{
  height: 480px;
}
.enemy ul {
  flex-direction: column;
  background-color: #0a1017;
  opacity: 0.7;
  color: white;
  width: 90%;
  height: auto;
}
.actionsReturn {
  width: 99%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.actionsReturn h1 {
  background-color: #0a1017;
  opacity: 0.7;
  height: auto;
  color: white;
  font-size: 170%;
  text-align: center;
  justify-content: center;
}
.choiceBattle {
  width: 99%;
  height: auto;
  justify-content: space-evenly;
}
.skilButtons {
  margin: 0.3%;
  width: auto;
  height: auto;
  justify-content: center;  
  flex-wrap: wrap;
}
.skilButton {
  background-color: #0a1017;
  color: white;
  font-size: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5%;
  opacity: 0.7;
  height: auto;
  width: 190px;
  padding: 1% 0;
}
.divBonusButton {
  margin-top: 0.3%;
  width: 39%;
  flex-wrap: wrap;
  justify-content: center;
}
.divBonusButton h3 {
  background-color: #0a1017;
  opacity: 0.8;
  color: white;
  text-align: center;
  height: 25%;
  align-items: center;
  font-size: 100%;
}
.divBonusButton button {
  background-color: #0a1017;
  opacity: 0.7;
  font-size: 95%;
  color: white;
  margin: 1%;
  width: 170px;
  align-items: center;
  justify-content: center;
}
.defenseButton {
  background-color: #0a1017;
  border: none;
  font-weight: bold;
  color: white;
  font-size: 150%;
  margin: 0.5%;
  opacity: 0.7;
  height: 35%;
  width: 170px;

  justify-content: center;
  align-items: center;
}
/*Configuração do botão de escolha*/
.classButton {
  background-color: #0a1017;
  opacity: 0.7;
  border: none;
  font-size:150%;
  font-weight: bold;
  color: white;
  margin: 0.5%;
  height: 60px;
  width: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
/*configura o game over*/
.gameOver {
  position: absolute;
  font-size: 1000%;
  color: #80040a;
  top: 10%;
  left: 11%;
}
.tryAgain a {
  background-color: #0a1017;
  text-decoration: none;
  position: absolute;
  bottom: 5%;
}
.tryAgainButton {
  background-color: #80040a;
  opacity: 1;
  color: black;
}
/*ativa e desativa o bloco*/
.ative {
  display: flex;
}
.desatived {
  display: none;
}
